# Node modules
node_modules
npm-debug.log
yarn.lock

# Next.js build output
.next
out

# VS Code / IDE-related files
.vscode
.idea

# Git-related files
.git
.gitignore

# Docker-related files
Dockerfile
.dockerignore

# Misc
*.log
coverage
